<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
    <main>
        <div class="in-progress pa4 white avenir f5-ns f7 v-mid tc fw3 lh-title">
            This website is still working in progress, you can find more projects in my old <a href="https://55yaorongli.wixsite.com/yrli/" class="link white pink-hover"> portfolio</a> here!
        </div>
        <!-- <div class="progress" id="progress"></div> -->
        {{ block "main" .}}
        {{ end }}
    </main>
</body>