{{ define "main" }}
   <section>
    {{ partial "header-back.html" . }}
   </section>
  
   <section class="cf pa6 relative">
      <div class="fl w-50-ns w-100">
        <h2 class="white link eczar f1-ns f3 fw8"> 
          <span class="project-title lh-title">
              {{ .Title}}: {{ .Params.Description}}
          </span>
        </h2>
        <div class="avenir f7">
          <span class="black fw3 db pb2">
              {{ .Params.Role}} &nbsp &nbsp {{ .Params.Time}}
          </span>
          <a class="avenir f7 washed-red b link " href="https://www.here.com/en">
            {{ .Params.Company}}
          </a>
        </div>
      </div>
      <div class="absolute w-60 project-image">
         <img src = "../../../img/works/{{ .Params.image}}.jpg"/>
      </div>
   </section>

    <section class="ph6 pv2 f4 fw4 lh-copy avenir">
        {{ .Content}}
    </section>
    {{ partial "footer.html" . }}
{{ end }}