

<!-- <div class = "w-100 pa3 avenir fw8 ttu f3 pink scroll" >
        <marquee class="scroll">who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp who am i?</marquee>
</div> -->

<div class="ph4 ph5-ns mv5-ns mv4 cf avenir dark-blue">
    <h1 class="fl-ns w-30-l w-100 f2-ns f3 avenir tl ml5-l dark-blue">
        About me
    </h1>
    <div id= "bio" class=" w-50-l w-100 fl-ns lh-copy" >
        <p class="f4 fw3  ">
                I'm Yaorong Li, a Berlin-based designer. Currently work at <a class="link pink-hover" href="https://www.here.com/en">HERE</a> in charge of several interesting projects. I studied in both engineering and designing, from Beijing to Paris then finally in Berlin. I hope to live my life in every corner of the world. 
        </p>
        <p class="f4 fw3  ">                  
                Users are impatient and distracted, I'm thinking in their shoes to deliver simple, clean and functional design; in the meantime, design should be iterative and feasible, I'm prototyping my design to test and improve my ideas from time to time.
        </p>
        <p class="f5 bl bw2 fw4 i mono pl3 mv5">                  
                Other Facts: </br>
                Hot pot, Cakes, Meme and Emojis are things I can barely live without.</br>
                I doubt that emoji one day will replace human language.</br>
                I play drum (really sucks).</br>      
        </p>
       <div class="blink-hand">
                <a class="link f5 ttc mono fw4 pink-hover" href="#">
                        My CV 
                </a>
        </div>
    </div>
   
</div>
 