<main class=" cf pa3 pa5-ns">
    <p class = "work fw8 ttu fl w-100 w-25-ns f4 lh-copy measure dark-blue" >
        Who am I?
    </p>
    <p class=" spectral fl w-100 w-55-ns f4 lh-copy measure dark-blue">
            I worked as a product designer, focused on improving user experince.
            
            Things I couldn’t live without:
            Hot pot, Cakes, Meme and Emojis
            I can barely talk with meme or emojis, and I doubt that emoji one day will replace human language.
            I play drums (really sucks)
            
            Brought up in China, lived in Beijing, Paris and then Berlin, I want to live life in every corner of the world.
            
            Say hi to me if you wish!
    </p>

 </main>
 