

<article class="cf z-0 pa2">
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/emergency-apparel" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Beyoncé" style="background-image:url(img/img-link1.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/color-melody" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Kaytranada" style="background-image:url(img/img-link2.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/imfo" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Woman - Justice" style="background-image:url(img/img-link10.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/monpet " class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Skin - Flume" style="background-image:url(img/img-link11.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/color-melody" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Seat at Table Solange" style="background-image:url(img/img-link5.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/izumi" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Untitled Unmastered - Kendrick Lamar" style="background-image:url(img/img-link6.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-100 w-25-ns pa2 pic">
          <a href="https://55yaorongli.wixsite.com/yrli/dreamcity" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Moon Shaped Pool 2" style="background-image:url(img/img-link7.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Colour Anything 2" style="background-image:url(img/img-link8.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50 w-25-ns pa2 pic">
          <a href="" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="Good Luck Do Your Best" style="background-image:url(img/poster.png);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-100 w-50-m w-25-ns pa2 pic">
          <a href="" class="db aspect-ratio aspect-ratio--1x1 grow">
            <span role="img" aria-label="32 Levels Clams Casino" style="background-image:url(img/img-link3.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
          <!-- <a href="https://55yaorongli.wixsite.com/yrli/monpet" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="Danny Brown Atrocity Exhibition Exclusive" style="background-image:url(img/img-link11.png);" class="bg-center cover aspect-ratio--object"></span>
          </a> -->
        </div>
        <div class="fl w-100 w-50-m w-25-l pa2 pic">
          <div class="fl w-100">
            <a href="https://55yaorongli.wixsite.com/yrli/emergency-apparel" class="db aspect-ratio aspect-ratio--1x1 grow">
              <span role="img" aria-label="Human Energy - Machinedrum" style="background-image:url(img/img-link4.png);" class="bg-center cover aspect-ratio--object"></span>
            </a>
          </div>
          <!-- <div class="fl w-100">
            <div class="fl w-50">
              <a href="https://www.amazon.com/Moodymann-DJ-Kicks-DJ-KICKS/dp/B01AEOM6D0/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480371894&sr=1-1&keywords=dj+kicks+moodymann&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
                <span role="img" aria-label="Moodymann - DJ Kicks" style="background-image:url(http://mrmrs.github.io/photos/moodyman.jpg);" class="bg-center cover aspect-ratio--object"></span>
              </a>
            </div>
            <div class="fl w-50">
              <a href="https://www.amazon.com/Stranger-Things-Netflix-Original-Soundtrack/dp/B01KA4MVF2/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480423240&sr=1-1&keywords=stranger+things&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
                <span role="img" aria-label="Stranger Things Netflix Original Soundtrack" style="background-image:url(http://mrmrs.github.io/photos/strangerthings.jpg);" class="bg-center cover aspect-ratio--object"></span>
              </a>
            </div>
            <div class="fl w-50">
              <a href="https://www.amazon.com/How-Be-Human-Being-LP/dp/B01GQ7DIJA/ref=tmm_vnl_swatch_0?_encoding=UTF8&qid=1480421224&sr=8-1&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
                <span role="img" aria-label="How Be Human Being LP" style="background-image:url(http://mrmrs.github.io/photos/glassanimals.jpg);" class="bg-center cover aspect-ratio--object"></span>
              </a>
            </div>
            <div class="fl w-50">
              <a href="https://www.amazon.com/22-Million-Bon-Iver/dp/B01KBKVK2K/ref=sr_tnr_p_6_195212011_1_twi_lp__3?s=music&ie=UTF8&qid=1480422776&sr=1-6&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
                <span role="img" aria-label="22 Million - Bon Iver" style="background-image:url(http://mrmrs.github.io/photos/boniver.jpg);" class="bg-center cover aspect-ratio--object"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="fl w-100 w-50-l">
          <a href="https://www.amazon.com/Malibu-Anderson-Paak/dp/B01BXNXBAS/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480422041&sr=1-1&keywords=paak&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="Malibu -  Anderson Paak" style="background-image:url(http://mrmrs.github.io/photos/paak.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div> -->
      </article>
    