
    <nav class="dt w-100 border-box pa3 pa5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
          <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
          <a class="link dim dark-gray f5 f3-ns dib mr3 mr4-ns near-white" href="#" title="About">About</a>
          <a class="link dim dark-gray f5 f3-ns dib mr3 mr4-ns near-white" href="#" title="Works">Works</a>
          <a class="link dim dark-gray f5 f3-ns dib near-white" href="#" title="Contact">Contact</a>
        </div>
    </nav>