  <!-- <a class="fr v-mid w-40-l w-30-ns white-hover mb5" href="#" title="Home">
         <img src="img/logo.png"  alt="yaorong">  
    </a> -->
    <div class="mt5-ns mt3 tl">
         <h1 class="green-50 w-60-l w-80-ns mv0 "> I'm Yaorong, I’m a digital product designer, currently work at <a href = "https://www.adyen.com/" class="line-hover line-hover-inline green-50">Adyen</a> to shape the payment experience for marketplaces and platforms.</h1>
         <!-- <h1 class="green-50 mv0"> Currently work at <a href = "https://www.adyen.com/" class="orange-40 dim"> Adyen.</a></h1> -->
              
         <img class="bg1" src="/img/bg1.svg">
        <!-- <h3 class="f4-ns f5 ttc fw6 mt2 black-80 blink-hand mt5">
                {{ range .Site.Params.Contact.Links}} 
                    <a href = "{{ .url}}" class="washed-red dib link dim ml2 bn">
                    {{ .name}}
                    </a>
                {{end}}
            </ul>
        </h3> -->
    </div>