<div class="ph5-ns ph4 mt6-ns mt3 cf ">
    <a class="fr v-mid w-40-l w-30-ns white-hover mb5" href="#" title="Home">
         <img src="img/logo.png"  alt="yaorong">  
    </a>
    <div class="w-50-l w-60-ns fl ml5-l pb0-ns pb5">
        <div class=" f3 f2-l measure mv2 fw6 lh-title avenir">
                I'm Yaorong Li, a Berlin based designer. Currently work at <a href = "https://www.here.com/en" class="washed-red link fw2 dim"> HERE</a> in charge of several exciting <a href="#Works" class=" washed-red fw2 link dim">projects</a>. 
            </br></br>
            Coming from a hybrid background of engineer and design, I became a professional problem solver, a creative technologist, and a design thinker. 
        </div>
        <!-- <div class="avenir b f1-l f3 mt5 ttc">
            Stalk me here
        </div> -->
        <h3 class="f4-ns f5 avenir ttc fw2 mt2 black-80 blink-hand mt5">
                {{ range .Site.Params.Contact.Links}} 
                    <a href = "{{ .url}}" class="washed-red dib link dim ml2 bn">
                    {{ .name}}
                    </a>
                {{end}}
            </ul>
        </h3>
    </div>
</div>