{{ define "main" }} 
    <div id="About" name = "About"  >
        <div id= "nav">
            {{ partial "header.html" . }}
        </div>
        <div id="headline" class="wrapper">
            {{ partial "headline.html" . }}        
        </div>
    </div>
  
    <!-- <div id="About" name="About">
        <a name='About'>
            {{ partial "aboutme.html" . }}
        </a>
    </div> -->

    <div id= "Works" name="Works" class="wrapper">
        <a name = "Works">
            {{ partial "works.html" .}}
        </a>
    </div>
    <section id="gallery">
        {{ partial "gallery.html" .}}
    </section>
    <section id="Contact" name="Contact">
        {{ partial "footer.html" . }}
    </section>
{{ end }}