{{ define "main" }} 
    <div id= "blue-head"  class= "bg-near-white">
        {{ partial "header.html" . }}
        {{ partial "headline.html" . }}        
    </div>
  
    <div id="about-me">
        {{ partial "aboutme.html" . }}
    </div>

    <div id= "work-display">
        <ul class="list">
            <li class="bg-dark-blue near-white ph5 pl3 f5 f3-ns h3 border-box"> 
                <span>
                    Izumi
                </span>
                </br>
                <span class="description ">
                    Help with localisation process within the company.
                </span>
            </li>
            <li></li>
            <li></li>  
            <li></li>
            <li></li>            
        </ul>
    </div>
    {{ partial "footer.html" . }}
{{ end }}