{{ define "main" }} 

<div id="headline">
    <h1 class="green-50 tc fw8"> The content is WIP </h1>    
</div>

    <!-- <div id="Work">
    <div id="About" name = "About"  >
        <div id= "nav">
            {{ partial "navigation.html" . }}
        </div>
        <div id="headline">
            {{ partial "headline.html" . }}        
        </div>
    </div>

    <div id= "Works" name="Works">
        <a name = "Works">
            {{ partial "works.html" .}}
        </a>
    </div>
    <section id="gallery">
        {{ partial "gallery.html" .}}
    </section>
    <section id="Contact" name="Contact">
        {{ partial "footer.html" . }}
    </section>
    </div> -->

    <!-- <section >
            {{ partial "copywrite.html" . }}
        </section> -->
{{ end }}