{{ define "main" }}
   <section>
    {{ partial "header-back.html" . }}
   </section>
  
   <section class="project-header ml4 mb6">
      <div class="tr">
          <img class= "project-image br3-ns br0" src = "/img/works/{{ .Params.image}}.png"/>
       </div>
      <div class="project-title mt2">
        <h2 class="mv0">
              {{ .Title}} 
        </h2>
        <h2 class="fw3 mv0">
              {{ .Params.Description}}
        </h2>
      </div>
      <div class="mt4 flex">
        <div class="w-20-ns w-100 mr3">
            <p class="caption mv0 f5 fw6">Roles</p>
            <p class="mv0">{{ .Params.Role}} </p>
        </div>
        <div class="w-20-ns w-100 mr3">
            <p class="caption mv0 f5 fw6">Time</p>
            <p class="mv0">{{ .Params.Time}} </p>
        </div>
        <div class="w-20-ns w-100">
            <p class="caption mv0 f5 fw6">Company</p>
            <a class="line-hover-inline" href="https://www.here.com/en">{{ .Params.Company}} </p>
           </a> 
        </div>
        
       </div>
   </section>

    <section class="cf project-content" id = "content">
      <div class="w-60-ns fr-ns">
        {{ .Content}}
      </div>
    </section>
<section>
    {{ partial "Nextproject.html" . }}
</section>
   

{{ end }} 