@import "vars";
@import "font";


body{
    min-width: $min-window;
}

.scroll{
    top:100px;
}

.blink-hand{
    position: relative;
    &::before{
        content: '👉';
        top:0;
        left:0;
        animation: blink 1s infinite;
    }
}



//Single project
.project-title{
    background: $dark-blue;
}

.project-image{
    right: 10%;
    width: 60%;
    z-index: -1;
}



//Hover effect

.pink-hover{
    position: relative;
    &::after{
        position: absolute;
        content: "accccc";
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        background:$washed-red;
        transition: height 0.3s ease;

    }

    &:hover{
        color:white;
        &::after{
            height: 100%;
        }
        &:active{
            color:$dark-blue;
        }
    }
    
}

.underline-hover{
    position: relative;
    transition: font-weight 1s ease;   
    text-decoration:none; 
    
    &::before{
        content: '';
        position: absolute;
        top: calc(50%);
        left:0; 
        width:100%;
        height: 2px;
        transform: scale(0,1);        
        background: white;
        transition: all 1s ease;
    }

    &:hover{  
        text-decoration:none; 
        &::before{
            transform: scale(1,1);
            transition: all 1s ease;
        }
    }
}

.blue-hover {
    span{
        z-index: 0;
        transform: translateX(0px);
        transition: all .5s ease;
    }
    &::before{
        content: '';
        position: absolute;
        top:0;
        left:0; 
        width:100%;
        height: 100%;
        opacity: 0;
        background-color: $dark-blue;
        box-shadow: 0px 11px 33px -9px rgba(19, 19, 107, 0.87);
        transition: opacity .5s ease;
        z-index: -1;
    }

    &:hover {

        span{
            z-index: 999;
            color: white;
            transform: translateX(20px);
            transition: all .5s ease;
        }
    
        &::before{
            opacity: 0.9;
            transition: opacity .5s ease;
        }

        &::after{
            content: '👉';
            position: absolute;
            top:49%;
            right:10%; 
            z-index: 1000;
        }

    }
}




//animations

@keyframes updown {
    0%,100% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
}

@keyframes blink {
    0%,100% { opacity:0; }
    50% {opacity: 1;}
}