@import "vars";
@import "font";
@import "layout";
@import "../../node_modules/loaders.css/src/loaders.scss";


body{
    width: 100%;
    background-color: $grey-20;
    text-align: left;
    // &::-webkit-scrollbar {
    //     width: 8px;
    //     height: 16px;
    //     overflow: visible;
    //     background: transparent;
    //     &-track{
    //         background: transparent;
    //     }
    //     &-thumb {
    //         background: white;
    //     }
    // }
}



.in-progress{
    background: black;
    height:80px;
    width: 100%;
}

.blink-hand{
    position: relative;
    &::before{
        content: '👉';
        top:0;
        left:0;
        animation: blink 1s infinite;
    }
}
// Work/Worklist

.work-list{
   margin: 64px -32px;
    @include break(not-small) {
       margin:0 0 128px 0;
    }
}


//fixed header

.nav-top{
    transition: all 0.4s ease;
    padding: 24px 0 0 0;  
    @include break(not-small) {
        transition: all 0.4s ease;
        padding: 24px 0 0 0;  
        display: block;  
    }
     display: flex;
     justify-content: space-around;
    a{
        flex: 1
    }
}
.fix-nav {
    position: fixed;
    width:100%;
    top: 0px;
    padding: 24px;
    left:0;
    transition: all 0.4s ease;
    z-index: 1000;
    background: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(3px);
}

.nav-close {
    margin-right: -64px;
}
.nav-back {
   position: fixed;
   right:0;
   top:0;
}
.nav-selected {
    &::before{
        width: 100% !important;
    }
}

//Single project
.project-title{
    z-index: 2;
}

.project-image{
    object-fit: cover;  
    height: 400px;
    width:100%;
    z-index: -1;
}

.project-header {
    min-height: 40vh;
    margin-left:0;
    @include break(not-small) {
        margin-right: -$spacing-96;
    }
   
}



// //Hover effect
// .title-hover{
//     &:hover{
//         color: black;
//         &:active{
//             color:black;
//         }
//     }
// }



.line-hover,.project-content a{
    position: relative;

    &::after{
        position: absolute;
        content: "";
        height:3px;
        background: $grey-20;
        width: 0%;
        left: 0;
        bottom: 0px;
        z-index: 2;
        transition: width 0.2s ease-in;
        transition-delay: 0.2s;
    }

    &::before{
        position: absolute;
        content: "";
        height:3px;
        background: $green-40;
        width: 0;
        left: 0;
        bottom: 0px;
        transition: width 0.2s ease-in;
    }

    &:hover{
        bottom:5px;
        border:none;
        &::after{
            width: 100%;
        }
        &::before{
            width: 100%;
        }
    }
    
}

.line-hover-inline,.project-content a {
    &::before{
        width: 20px;
    }
}


// aboutme
.intro {
    @include break(not-small) {
        width: 70%;
        margin:  64px auto;
    }
        width: 110%;
        margin:  64px auto;
}


// .inline-hover{
//     position: relative;
//     transition: font-weight 1s ease;   
//     text-decoration:none; 
//     border-bottom: none;
    
//     &::before{
//         content: '';
//         position: absolute;
//         top: calc(50%);
//         left:0; 
//         width:100%;
//         height: 2px;
//         transform: scale(0,1);        
//         background: white;
//         transition: all 1s ease;
//     }

//     &:hover, &:active{  
//         text-decoration:none; 
//         &::before{
//             transform: scale(1,1);
//             transition: all 1s ease;
//         }
//     }

    
// }

// .blue-hover {
//     span{
//         z-index: 0;
//         transform: translateX(0px);
//         transition: all .5s ease;
//     }
//     &::before{
//         content: '';
//         position: absolute;
//         top:0;
//         left:0; 
//         width:100%;
//         height: 100%;
//         opacity: 0;
//         background-color: $white;
//         box-shadow: 0px 11px 33px -9px rgba(19, 19, 107, 0.87);
//         transition: opacity .5s ease;
//         z-index: -1;
//     }

//     &:hover {

//         span{
//             z-index: 100;
//             color: white;
//             transform: translateX(20px);
//             transition: all .5s ease;
//         }
    
//         &::before{
//             opacity: 0.9;
//             transition: opacity .5s ease;
//         }

//         &::after{
//             content: '👉';
//             position: absolute;
//             top:49%;
//             right:10%; 
//             z-index: 100;
//         }

//     }
// }

  
//default style
.project-content{

    // @media screen and (max-width: 968px) {
    
    //     padding: 0 20%; 
    //     margin: 0 auto;
    // }
    

    // @media screen and (max-width: 480px) {
       
    //     padding: 0 5%;
    //     margin: 0 auto;
    // }

    h2,h3,h4,p{
        color: $grey-80;
    }

    h2{
        margin: $spacing-64 0 0 0;
    }


    h4 {
        margin: $spacing-24 0 0 0;
    }

    p {
        margin: $spacing-24 0 0 0;
    }


    ul {
        margin: $spacing-24 0 0 0;
    }

    hr{
        height: 0.75px;
        background-color: $green-20;
        border: none;
        margin: $spacing-large 0;
    }

    figure{
        margin: $spacing-large 0 0 -60%;
        @media screen and (max-width: 968px) {
            margin: 0 auto;
        }
        align-content: center;
        img{
            width: 100%;
        }
    }

  
    
    .image-gallery{
    
    margin:$spacing-large  (-$spacing-extra-large);
        &-single{
            width:45%;
            padding: $spacing-small;
            display: inline;
        }
    }
        @include break(not-small) {
            margin:$spacing-extra-large  0;
    }

    blockquote {
        page-break-inside: avoid;
        position: relative;
        margin-left: -$spacing-24;
        &::before{
            position: absolute;
            content: "";
            width:3px;
            background: $orange-40;
            height: 100%;
            bottom: 0px;
        }

        p{
            padding: 0 0 0 $spacing-medium;
            font-family: $font-spectral;
            font-size: 24px;
            line-height: 40px;
            color:$grey-80;
            font-style: italic;
            margin: $spacing-medium auto $spacing-medium;
        }
    }
}

//fade

    /** Basic styles for an animated element */
    .scene_element {
      animation-duration: 1s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
  
    }
  
    /** An element that fades in */
    .scene_element--fadein {
      animation-name: fadeIn;
      animation-delay: 500;
    }
  
    /** An element that fades in and slides up */
    .scene_element--fadeinup {
      animation-name: fadeInUp;
    }
  
    /** An element that fades in and slides from the right */
    .scene_element--fadeindown {
      animation-name: fadeInDown;
    }
  

//modal
.show{
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background: $white;
    opacity: 0.9;

    .img-show{
        height: 80%;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            width: 100%;
            margin: auto;
        } 
    }
}


//animations


@keyframes blink {
    0%,100% { opacity:0; }
    50% {opacity: 1;}
}

//fade

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
}


@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translate3d(0, 10px, 0);        
    }

    100%{
        opacity:1;
        transform: translate3d(0,0,0);        
    }
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translate3d(0, 100%, 0);        
    }

    100%{
        opacity:1;
        transform: none;        
    }
}