@import "../../node_modules/tachyons-sass/tachyons.scss";

// color

$green-40: #3B6F5A;
$orange-40: #E06440;

$black: #010302;
$near-white: #f0f0f0;
$washed-red: #F8A7FA;
//$blue-black: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,23,179,1)), color-stop(66%, rgba(0,23,179,1)), color-stop(100%, rgba(0,0,0,1)));
$primary-color: $green-40;
$secondary-color: $orange-40;

// window
$min-window: 320px;
$max-window: 1600px;

