@import "../../node_modules/tachyons-sass/tachyons.scss";

// color

$green-40: #3B6F5A;
$green-50: #234336;
$green-10:#EBF1EF;
$green-20:#B1C5BD;
$green-30:#769A8B;


$orange-40: #E06440;

$black: #010302;
$grey-80: #343535;
$grey-70: #4D4F4E;
$grey-60: #808180;
$grey-50: #BFC0C0;
$grey-40: #D9D9D9;
$grey-30: #F2F2F2;
$grey-20: #F5F5F5;

$white:#FCFCFC;

//$blue-black: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,23,179,1)), color-stop(66%, rgba(0,23,179,1)), color-stop(100%, rgba(0,0,0,1)));
$primary-color: $green-40;
$secondary-color: $orange-40;

// window
$min-window: 320px;
$max-window: 1600px;

