@import "../../node_modules/tachyons-sass/tachyons.scss";

$dark-blue:blue;
$near-white: #f0f0f0;
$washed-red: #F8A7FA;


$min-window: 320px;
$max-window: 1200px;

$blue-black: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,23,179,1)), color-stop(66%, rgba(0,23,179,1)), color-stop(100%, rgba(0,0,0,1)));