@import "vars";
@import "base";
@import "layout";
@import "font";
@import "../../node_modules/tachyons-sass/tachyons.scss";


#About {
    min-height: 100vh;
    background-color:$dark-blue;
    color: $near-white;
}

    

